<ul>
  <li>
    <strong>What is your name?</strong>
    Sir Lancelot of Camelot.
  </li>
  <li>
    <strong>What is your quest?</strong>
    To seek the Holy Grail.
  </li>
  <li>
    <strong>What is your favorite color?</strong>
    Blue.
  </li>
</ul>
